* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: $font-family;
}
body {
  min-width: 320px;
}
.container-fluid {
  max-width: 1284px;
  box-sizing: border-box;
}
select {
  appearance:none;
}
input, select, textarea {
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
a:hover {
  text-decoration: none!important;
}
button {
  background: none;
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
}
