.main {
  position: relative;
  height: 100%;
}
.section {
  padding: 64px 0;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 3;
  }
  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 78px;
  }
  &__head_nav {
    display: flex;
    align-items: center;
  }
  &__btn {
    padding: 16px 32px;
    display: inline-block;
    border: 2px solid $white;
    color: $white;
    @include h6;
    text-transform: uppercase;
  }
  &__title {
    @include h1;
    text-transform: uppercase;
  }
  &__desc {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
@include phones {
  .section__title {
    font-size: 28px;
    text-align: center;
  }
  .section__head_nav {
    display: none;
  }
  .section__head {
    justify-content: center;
  }
}
.navbar {
  width: 30px;
  height: 22px;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
  }
}
.about {
  min-height: 100vh;
  position: relative;
  &__bg-gradient {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 2;
    background: rgba(170,217,232,1);
    background: -moz-linear-gradient(top, rgba(170,217,232,1) 0%, rgba(150,220,186,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,217,232,1)), color-stop(100%, rgba(150,220,186,1)));
    background: -webkit-linear-gradient(top, rgba(170,217,232,1) 0%, rgba(150,220,186,1) 100%);
    background: -o-linear-gradient(top, rgba(170,217,232,1) 0%, rgba(150,220,186,1) 100%);
    background: -ms-linear-gradient(top, rgba(170,217,232,1) 0%, rgba(150,220,186,1) 100%);
    background: linear-gradient(to bottom, rgba(170,217,232,1) 0%, rgba(150,220,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad9e8', endColorstr='#96dcba', GradientType=0 );
  }
  >.container-fluid {
    position: relative;
    z-index: 3;
  }
  &__btn {
    color: $blackMain;
    border: solid $blackMain;
  }
  &__title {
    color: #000;
    line-height: 100%;
    text-transform: uppercase;
  }
  &__desc {
    &_container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
    }
    &_info {
      width: 642px;
      display: flex;
      justify-content: space-between;
    }
    &_info_video_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_info_video_nav {
      display: flex;
      align-items: center;
    }
    &_info_video {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      margin-right: 32px;
      background: #000;
      position: relative;
      transition: all 0.3s ease;
      &:hover {
        background: $main4;
        transition: all 0.3s ease;
      }
      &:after {
        content: "";
        display: block;
        background: url("../img/about/video-icon.svg")no-repeat center center/100% 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-12px, -50%);
      }
    }
    &_info_video_title {
      @include subtitle2;
    }
    &_gallery {
      width: 481px;
      display: flex;
      justify-content: space-between;
    }
    &_gallery_item {
      width: 203px;
    }
    &_gallery_item_image {
      margin: 0 auto 32px;
      height: 220px;
      position: relative;
      width: 170px;
      &:after {
        content: "";
        display: inline-block;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 2px solid $main4;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        height: auto;
        display: inline-block;
      }
    }
    &_gallery_item_title {
      font-family: "FuturaPT";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 125%;
      text-align: center;
      color: $black20;
    }
  }
}
.work-vector {
  margin-bottom: 72px;
  &__title {
    @include subtitle1;
    text-align: center;
    margin-bottom: 48px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 38px;
  }
  &__item {
    width: 251px;
    height: 251px;
    border-radius: 50%;
    position: relative;
  }
  &__item_blur {
    filter: blur(25px);
    position: absolute;
    width: 251px;
    height: 251px;
    border-radius: 50%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  &__item_cont {
    position: absolute;
    z-index: 2;
    width: 251px;
    height: 251px;
    border-radius: 50%;
    top: 0;
    left: 38px;
    background: rgba(255, 255, 255, 0.25);
    border: 2px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__item_title {
    @include h6;
    text-align: center;
    margin-bottom: 16px;
    max-width: 180px;
  }
  &__item_desc {
    @include body2;
    text-align: center;
    max-width: 180px;
  }
}
.blur-pink {
  border: 66px solid $pink10;
}
.blur-green {
  border: 66px solid $main2;
}
.blur-violet {
  border: 66px solid $violet10;
}
.blur-cobalt {
  border: 66px solid $cobalt10;
}
@include desktop {
  .about__desc_container {
    flex-direction: column;
  }
  .about__desc_info {
    width: 100%;
    margin-bottom: 64px;
  }
  .about__desc_gallery {
    width: 100%;
    justify-content: space-around;
  }
  .vertical__dots_list {
    transform: translate(-400%, -50%);
  }
  .work-vector__item, .work-vector__item_blur, .work-vector__item_cont {
    width: 209px;
    height: 209px;
  }
  .work-vector__item_cont {
    left: 19px;
  }
  .work-vector__list {
    padding-right: 19px;
  }
  .work-vector__item_title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 11px;
  }

}
@include laptop {
  .work-vector__item {
    margin: 0 auto 64px;
  }
}
@include tablet {
  .work-vector {
    margin-bottom: 0;
  }
}
@include phones {
  .about__desc_info_video_nav {
    margin-bottom: 32px;
  }
  .about__desc_info_video_wrap {
    flex-direction: column;
  }
  .about__desc_gallery {
    flex-direction: column;
    align-items: center;
  }
  .about__desc_gallery_item {
    margin-bottom: 64px;
  }
}

//Team

.team {
  &__vertical__dots_list {
    height: 230px;
    top: 50%;
    left: 0;
    transform: translate(600%, -50%);
    z-index: 2;
  }
  &_navbar {
    margin-left: auto;
  }
  &__title {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 829px;
    text-align: center;
    z-index: 2;
  }
  &__swiper-container {
    position: relative;
    height: auto;
  }
  &__swiper-slide {
    height: auto;
    img {
      display: inline-block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__swiper-slide-video {
    width: 100%;
    height: auto;
  }
  &__video-overlay {
    position: relative;
    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #0000009e;
      z-index: 2;
    }
  }
  &__swiper_bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white;
    margin-right: 6px;
    display: block;
    cursor: pointer;
  }
  &__swiper_bullet-active {
    width: 63px;
    border-radius: 8px;
  }
}
.container-fluid-navbar {
  position: absolute;
  padding-top: 64px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}
.container-fluid-arrow {
  position: absolute;
  bottom: 0;
  padding-bottom: 64px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}
.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -64px);
  z-index: 3;
}
@include desktop {
  .team__vertical__dots_list {
    transform: translate(400%, -50%);
  }
  .container-fluid-navbar {
    padding-top: 32px;
  }
  .container-fluid-arrow {
    padding-bottom: 32px;
  }
  .swiper-pagination {
    transform: translate(-50%,-40px);
  }
}
@include laptop {
  .team__title {
    width: 607px;
    font-size: 35px;
    line-height: 50px;
  }
}
@include tablet {
  .team__title {
    width: 100%;
    font-size: 26px;
    line-height: 37px;
  }
  .team__vertical__dots_list {
    height: 170px;
    transform: translate(200%,-50%);
  }
  .vertical__dotts_item {
    width: 6px;
    height: 6px;
  }
  .team__swiper_bullet {
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  .team__swiper_bullet-active {
    width: 50px;
  }
}
@include phones {
  .team__title {
    width: 80%;
    font-size: 15px;
    line-height: 21px;
  }
  .vertical__dotts_item {
    width: 4px;
    height: 4px;
  }
  .team__vertical__dots_list {
    height: 90px;
  }
  .container-fluid-navbar {
    padding-top: 16px;
  }
  .container-fluid-arrow {
    padding-bottom: 16px;
  }
  .swiper-pagination {
    transform: translate(-50%,-22px);
  }
}

//Cases

.cases {
  padding: 64px 0;
  background: $green10;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__head_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 64px;
  }
  &__head_btn {
    &:hover {
      color: $white;
    }
  }
  &__desc {
    max-width: 642px;
    margin-bottom: 64px;
  }
  &__list {
    display: flex;
    max-width: 931px;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 32px;
  }
  &__item {
    width: 30%;
    height: auto;
    background: #39AC73;;
    position: relative;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover .cases__item_hover {
      transition: all 0.3s ease;
      opacity: 1;
    }
  }
  &__item_hover {
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
    &_btn {
      display: inline-block;
      text-transform: uppercase;
      background: $main5;
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        background: darken($main5, 10);
        transition: all 0.3s ease;
        color: $white;
      }
    }
  }
  &__item_title {
    @include h2;
    color: $white;
    position: absolute;
  }
  &__btn {
    background: #292929;
    color: $white;
    text-transform: uppercase;
    margin: 0 auto;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      background: darken(#292929, 10);
      color: $white;
    }
  }
  //&__gradient {
  //  width: 100%;
  //  height: 50px;
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  z-index: 3;
  //  -webkit-box-shadow: 0px -50px 22px 5px rgba(153,55,183,1);
  //  -moz-box-shadow: 0px -50px 22px 5px rgba(153,55,183,1);
  //  box-shadow: 0px -50px 22px 5px rgba(153,55,183,1);
  //}
}
@include laptop {

}
@media screen and (max-width: 810px ) {
  .cases__item {
    width: 45%;
  }
  .cases__list {
    justify-content: space-around;
  }
}
@media screen and (max-width: 650px) {
  .cases__item_btn, .cases__btn {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .cases__item {
    width: 80%;
  }
}
@include phones {
  .cases__head_nav {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .cases__title {
    margin-bottom: 32px;
  }
}

//Development

.development {
  position: relative;
  padding-bottom: 114px;
  &__bg-gradient {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 2;
    background: rgba(150,220,186,1);
    background: -moz-linear-gradient(top, rgba(150,220,186,1) 0%, rgba(164,78,190,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,220,186,1)), color-stop(100%, rgba(164,78,190,1)));
    background: -webkit-linear-gradient(top, rgba(150,220,186,1) 0%, rgba(164,78,190,1) 100%);
    background: -o-linear-gradient(top, rgba(150,220,186,1) 0%, rgba(164,78,190,1) 100%);
    background: -ms-linear-gradient(top, rgba(150,220,186,1) 0%, rgba(164,78,190,1) 100%);
    background: linear-gradient(to bottom, rgba(150,220,186,1) 0%, rgba(164,78,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96dcba', endColorstr='#a44ebe', GradientType=0 );
  }
  &__title {
    color: $white;
  }
  &__desc {
    @include subtitle2;
    color: $white;
    margin-bottom: 32px;
    max-width: 660px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__list {
    max-width: 717px;
  }
  &__item {
    width: 100%;
    border: 1.5px solid #FFFFFF;
    padding: 32px;
    background: rgba(255, 255, 255, 0.35);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item_title {
    @include subtitle1;
    text-align: center;
    margin-bottom: 16px;
    color: $white;
    text-transform: uppercase;
  }
  &__item_desc {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    margin-bottom: 16px;
  }
  &__item_order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item_price {
    @include h2;
    color: $white;
  }
  &__item_btn {
   @include h6;
    background: $main5;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: darken($main5, 10);
      transition: all 0.3s ease;
    }
  }
}
.development__stage {
  &_list {
    width: 428px;
    height: 637px;
    position: relative;
  }
  &_list-circle {
    content: "";
    width: 637px;
    height: 637px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0.5px solid $white;
  }
  &_list-blur {
    content: "";
    display: block;
    width: 601px;
    height: 601px;
    border-radius: 50%;
    background: rgba(238,33,77,1);
    background: -moz-linear-gradient(left, rgba(238,33,77,1) 0%, rgba(46,49,146,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,33,77,1)), color-stop(100%, rgba(46,49,146,1)));
    background: -webkit-linear-gradient(left, rgba(238,33,77,1) 0%, rgba(46,49,146,1) 100%);
    background: -o-linear-gradient(left, rgba(238,33,77,1) 0%, rgba(46,49,146,1) 100%);
    background: -ms-linear-gradient(left, rgba(238,33,77,1) 0%, rgba(46,49,146,1) 100%);
    background: linear-gradient(to right, rgba(238,33,77,1) 0%, rgba(46,49,146,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee214d', endColorstr='#2e3192', GradientType=1 );
    opacity: 0.55;
    filter: blur(75px);
    position: absolute;
    top: 0;
    left: 0;
  }
  &_title {
    position: absolute;
    top: -75px;
    left: 68px;
    p {
      @include h4;
      color: $white;
      text-transform: uppercase;
    }
    &-icon {
      width: 55px;
      height: 55px;
      margin: 10px auto 0;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: inline-block;
        text-align: center;
      }
    }
  }
  &_inner-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: $white;
    text-transform: uppercase;
    max-width: 170px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: right;
    z-index: 2;
  }
  &_item {
    display: flex;
    align-items: center;
    position: absolute;
    &-icon {
      margin-right: 32px;
      width: 30px;
      display: flex;
      align-items: right;
      img {
        display: inline-block;
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
    &-num {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #ffffff59;
      backdrop-filter: blur(15px);
      border: 1px solid $white;
      margin-right: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        @include h4;
        color: $white;
      }
    }
    &-text {
      @include h4;
      color: $white;
      text-transform: uppercase;
    }
    &-dev {
      top: 41px;
      left: 32px;
    }
    &-copy {
      top: 144px;
      left: -45px;
    }
    &-design {
      top: 240px;
      left: -85px;
    }
    &-structure {
      top: 340px;
      left: -85px;
    }
    &-smeta {
      top: 440px;
      left: -51px;
    }
    &-brief {
      top: 540px;
      left: 36px;
    }
  }
}
//Promotion

.promotion {
  padding: 64px 0;
  background: #3A3EB9;
  position: relative;
  padding-bottom: 114px;
  &__bg-gradient {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 2;
    background: rgba(163,77,189,1);
    background: -moz-linear-gradient(top, rgba(163,77,189,1) 0%, rgba(81,85,193,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,77,189,1)), color-stop(100%, rgba(81,85,193,1)));
    background: -webkit-linear-gradient(top, rgba(163,77,189,1) 0%, rgba(81,85,193,1) 100%);
    background: -o-linear-gradient(top, rgba(163,77,189,1) 0%, rgba(81,85,193,1) 100%);
    background: -ms-linear-gradient(top, rgba(163,77,189,1) 0%, rgba(81,85,193,1) 100%);
    background: linear-gradient(to bottom, rgba(163,77,189,1) 0%, rgba(81,85,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a34dbd', endColorstr='#5155c1', GradientType=0 );
  }
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__title {
    color: $white;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    max-width: 717px;
  }
  &__list_title {
    @include subtitle2;
    color: $white;
    margin-bottom: 32px;
  }
  &__item {
    width: 100%;
    border: 1.5px solid #FFFFFF;
    padding: 32px;
    background: rgba(255, 255, 255, 0.35);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item_title {
    @include subtitle1;
    text-align: center;
    margin-bottom: 16px;
    color: $white;
    text-transform: uppercase;
  }
  &__item_desc {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    margin-bottom: 16px;
  }
  &__item_order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item_price {
    @include h2;
    color: $white;
  }
  &__item_btn {
    @include h6;
    background: $main5;
    text-transform: uppercase;
  }
}
.promotion__stage {
  &_list {
    display: flex;
    flex-direction: column;
  }
  &_item {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 75px;
  }
  &_title {
    @include subtitle1;
    color: $white;
    max-width: 132px;
    text-align: right;
    text-transform: uppercase;
  }
  &_num_wrap {
    width: 100px;
    height: 100px;
    position: relative;
  }
  &_num_blur {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(220.2deg, #61BAD8 29.2%, rgba(158, 213, 231, 0) 102.35%);
    opacity: 0.8;
    filter: blur(25px);
    position: absolute;
    top: 0;
    left: 0;
  }
  &_num {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include h4;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 20px;
      position: absolute;
      top: 100px;
      left: 20px;
      background: url('../img/promotion/stage-arrow.svg') no-repeat center center/cover;
    }
  }
  &_finish {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 90px);
    img {
      display: inline-block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}
@include desktop {
  .promotion__list {
    width: 66%;
  }
}
@include laptop {
  .section__head {
    justify-content: center;
  }
  .promotion__wrap {
    flex-direction: column;
    align-items: center;
  }
  .promotion__list {
    width: 100%;
    margin-bottom: 64px;
  }
  .promotion__list_title {
    text-align: center;
  }
  .promotion__stage_item {
    width: 445px;
    justify-content: space-between;
  }

}
@include phones {
  .promotion__item_order {
    flex-direction: column;
  }
  .development__item_price {
    margin-bottom: 32px;
  }
  .promotion__item_btn {
    width: 275px;
  }
  .promotion__stage_item {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .promotion__stage_title {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }
  .promotion__stage_num:after {
    left: 100%;
  }
  .promotion__stage_finish {
    right: 0;
    transform: translate(4px, 90px);
  }
}
//Audit

.audit {
  padding: 64px 0 114px;
  position: relative;
  &__bg-gradient {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 2;
    background: rgba(95,84,193,1);
    background: -moz-linear-gradient(top, rgba(95,84,193,1) 0%, rgba(243,97,131,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,84,193,1)), color-stop(100%, rgba(243,97,131,1)));
    background: -webkit-linear-gradient(top, rgba(95,84,193,1) 0%, rgba(243,97,131,1) 100%);
    background: -o-linear-gradient(top, rgba(95,84,193,1) 0%, rgba(243,97,131,1) 100%);
    background: -ms-linear-gradient(top, rgba(95,84,193,1) 0%, rgba(243,97,131,1) 100%);
    background: linear-gradient(to bottom, rgba(95,84,193,1) 0%, rgba(243,97,131,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f54c1', endColorstr='#f36183', GradientType=0 );
  }
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__title {
    color: $white;
  }
  &__desc {
    @include subtitle2;
    color: $white;
    max-width: 667px;
    margin-bottom: 32px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    max-width: 667px;
  }
  &__item {
    width: 100%;
    border: 1.5px solid #FFFFFF;
    padding: 32px;
    background: rgba(255, 255, 255, 0.35);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item_title {
    @include subtitle1;
    text-align: left;
    margin-bottom: 16px;
    color: $white;
    text-transform: uppercase;
  }
  &__item_title-center {
    text-align: center;
    margin-bottom: 32px;
  }
  &__item_list_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      min-width: 15px;
      height: 15px;
      border: 1px solid $white;
      border-radius: 50%;
      margin-right: 16px;
    }
    p {
      @include subtitle2;
      color: $white;
    }
  }
  &__item_btn {
    background: #292929;
    margin: 0 auto;
    transition: all 0.3s ease;
    text-transform: uppercase;
    &:hover {
      background: lighten(#292929, 10);
      transition: all 0.3s ease;
    }
  }
  &__stage_list {
    margin-bottom: 11px;
  }
  &__stage_title {
    text-align: right;
    max-width: 276px;
    @include subtitle1;
    color: $white;
  }
  &__stage_title-odd {
    margin-right: 115px;
  }
  &__stage_item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 11px;
    }
  }
  &__stage_item-odd {
    justify-content: flex-start;
  }
  &__stage_icon {
    width: 127px;
    height: 127px;
    position: relative;
    margin-right: 75px;
  }
  &__stage_icon-odd {
    margin-right: 0;
  }
  &__stage_image {
    width: 42px;
    height: 55px;
    margin-right: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    img {
      display: inline-block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__stage_image {
    margin-right: 0;
  }
  &__stage_icon-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 127px;
    height: 127px;
    background: #FBC7D2;
    opacity: 0.35;
    filter: blur(55px);
    z-index: 1;
  }
  &__stage_item-blur {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(229.12deg, #76C79C 27.15%, rgba(158, 213, 231, 0) 98.29%);
    filter: blur(55px);
    transform: translate(25%, 0);
  }
  &__stage_item-blur-odd {
    transform: translate(-25%, 0);
  }
  &__stage_item-arrow-mob {
    display: none!important;
  }
  &__stage_item-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 55px);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #F9AFC0;
    border: 1px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 7px;
      height: 15px;
      display: inline-block;
    }
  }
  &__stage_item-finish {

  }
  &__stage_finish {
    position: absolute;
    top: 100%;
    right: 16%;
    transform: translate(-50%, 100px);

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
}
@include desktop {
  .audit__list {
    width: 46%;
  }
  .audit__stage_list {
    width: 43%;
  }
  .audit__stage_finish {
    right: 17%;
  }
}
@include laptop {
  .audit {
    padding: 64px 0 214px;
  }
  .audit__wrap {
    flex-direction: column;
    align-items: center;
  }
  .audit__desc {
    max-width: 680px;
    width: 100%;
    text-align: center;
    margin: 0 auto 64px;
  }
  .audit__list {
    width: 100%;
    margin-bottom: 64px;
  }
  .audit__stage_list {
    width: 468px;
    align-items: center;
  }
  .audit__stage_title {
    max-width: 330px;
  }
  .audit__stage_icon {
    margin-right: 0;
  }
  .audit__stage_title-odd {
    margin-right: 0;
  }
  .audit__stage_item-arrow {
    display: none;
  }
  .audit__stage_item-arrow-mob {
    display: flex!important;
  }
  .audit__stage_finish {
    right: 50%;
    transform: translate(50%,100px);
  }
}
@include phones {
  .audit__item {
    padding: 32px 16px;
  }
  .audit__item_btn {
    padding: 16px;
  }
  .audit__stage_list {
    max-width: 100%;
  }
  .audit__stage_item {
    flex-direction: column;
  }
  .audit__stage_icon {
    order: 1;
  }
  .audit__stage_title {
    order: 2;
    max-width: 276px;
    text-align: center;
  }
}
.contacts {
  background: $black10;
  padding: 64px 0 83px;
  position: relative;

  &__bg-gradient {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 2;
    background: rgba(243,97,131,1);
    background: -moz-linear-gradient(top, rgba(243,97,131,1) 0%, rgba(26,26,26,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,97,131,1)), color-stop(100%, rgba(26,26,26,1)));
    background: -webkit-linear-gradient(top, rgba(243,97,131,1) 0%, rgba(26,26,26,1) 100%);
    background: -o-linear-gradient(top, rgba(243,97,131,1) 0%, rgba(26,26,26,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,97,131,1) 0%, rgba(26,26,26,1) 100%);
    background: linear-gradient(to bottom, rgba(243,97,131,1) 0%, rgba(26,26,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36183', endColorstr='#1a1a1a', GradientType=0 );
  }
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__title {
    color: $white;
    margin-bottom: 120px;
  }
  &__contact_item {

  }
  &__contact_image {
    width: 245px;
    height: 245px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 128px;
  }
  &__contact_image_blur {
    position: absolute;
    width: 245px;
    height: 245px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__contact_image_blur-envelope {
    background: rgba(158,213,231,1);
    background: -moz-linear-gradient(left, rgba(158,213,231,1) 0%, rgba(97,186,216,0.95) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,213,231,1)), color-stop(100%, rgba(97,186,216,0.95)));
    background: -webkit-linear-gradient(left, rgba(158,213,231,1) 0%, rgba(97,186,216,0.95) 100%);
    background: -o-linear-gradient(left, rgba(158,213,231,1) 0%, rgba(97,186,216,0.95) 100%);
    background: -ms-linear-gradient(left, rgba(158,213,231,1) 0%, rgba(97,186,216,0.95) 100%);
    background: linear-gradient(to right, rgba(158,213,231,1) 0%, rgba(97,186,216,0.95) 100%);
    filter: blur(55px);
  }
  &__contact_image_blur-phone {
    background: rgba(97,186,216,1);
    background: -moz-linear-gradient(left, rgba(97,186,216,1) 0%, rgba(238,33,77,0.95) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,186,216,1)), color-stop(100%, rgba(238,33,77,0.95)));
    background: -webkit-linear-gradient(left, rgba(97,186,216,1) 0%, rgba(238,33,77,0.95) 100%);
    background: -o-linear-gradient(left, rgba(97,186,216,1) 0%, rgba(238,33,77,0.95) 100%);
    background: -ms-linear-gradient(left, rgba(97,186,216,1) 0%, rgba(238,33,77,0.95) 100%);
    background: linear-gradient(to right, rgba(97,186,216,1) 0%, rgba(238,33,77,0.95) 100%);
    filter: blur(55px);
  }
  &__contact_image_blur-location {
    background: rgba(97,186,216,1);
    background: -moz-linear-gradient(45deg, rgba(97,186,216,1) 0%, rgba(120,43,144,0.95) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(97,186,216,1)), color-stop(100%, rgba(120,43,144,0.95)));
    background: -webkit-linear-gradient(45deg, rgba(97,186,216,1) 0%, rgba(120,43,144,0.95) 100%);
    background: -o-linear-gradient(45deg, rgba(97,186,216,1) 0%, rgba(120,43,144,0.95) 100%);
    background: -ms-linear-gradient(45deg, rgba(97,186,216,1) 0%, rgba(120,43,144,0.95) 100%);
    background: linear-gradient(45deg, rgba(97,186,216,1) 0%, rgba(120,43,144,0.95) 100%);
    filter: blur(55px);
  }
  &__contact_image_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
    &-envelope {
      width: 85px;
      height: 85px;
    }
    &-phone {
      width: 55px;
      height: 55px;
    }
    &-location {
      width: 55px;
      height: 55px;
    }
  }
  &__contact_image_title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: $white;
    margin-bottom: 32px;
  }
  &__contact_image_desc {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: $white;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    &:hover {
      color: #427485;
      transition: all 0.3s ease;
    }
  }
  &__btn {
    @include h6;
    border: 2px solid $white;
    margin: 0 auto 32px;
    transition: all 0.3s ease;
    &:hover {
      border: 2px solid #427485;
      color: #427485;
      transition: all 0.3s ease;
    }
  }
  &__social_title {
    margin-bottom: 32px;
    @include h6;
    color: $white;
    text-align: center;
  }
  &__social_list {
    display: flex;
    width: fit-content;
    margin: 0 auto 64px;
  }
  &__social_item {
    width: 45px;
    height: 45px;
    margin-right: 16px;
    border-radius: 50%;
    &:last-child {
      margin-right: 0;
    }
    &-instagram {
      width: 23px;
      height: 23px;
    }
    &-vk {
      width: 30px;
      height: 18px;
    }
    &-yt {
      width: 28px;
      height: 20px;
    }
  }
  &__social_item-link {
    border-radius: 50%;
    background: $white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover {
      background: #427485;
      transition: all 0.3s ease;
    }
  }
}
@include desktop {
  .contacts__contact_image_blur {
    width: 170px;
    height: 170px;
  }
}
@include laptop {
  .contacts__title {
    text-align: center;
  }
  .contacts__contact_image {
    margin: 0 50px 0 0;

  }
  .contacts__contact_image_title {
    font-size: 25px;
    line-height: 32px;
  }
  .contacts__contact_image_desc {
    font-size: 17px;
  }
  .contacts__contact_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
  }
  .contacts__contact_image {
    margin-bottom: 0;
  }
  .contacts__contact_image_title-wrap {

  }
}
@include phones {
  .contacts__contact_item {
    flex-direction: column;
    align-items: center;
  }
  .contacts__contact_image {
    margin: 0 0 30px;
  }
  .contacts__title {
    margin-bottom: 64px;
  }
}