.main {
  position: relative;
  height: 100%;
}
.section {
  padding: 64px 0;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 3;
  }
  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 78px;
  }
  &__head_nav {
    display: flex;
    align-items: center;
  }
  &__btn {
    padding: 16px 32px;
    display: inline-block;
    border: 2px solid $white;
    color: $white;
    @include h6;
    text-transform: uppercase;
  }
  &__title {
    @include h1;
  }
  &__desc {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
@include phones {
  .section__title {
    font-size: 28px;
  }
  .section__head_nav {
    display: none;
  }
  .section__head {
    justify-content: center;
  }
}
.navbar {
  width: 30px;
  height: 22px;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
  }
}
.about {
  min-height: 100vh;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 3;
  }
  &__btn {
    color: $blackMain;
    border: solid $blackMain;
  }
  &__title {
    color: #000;
    line-height: 100%;
    text-transform: uppercase;
  }
  &__desc {
    &_container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
    }
    &_info {
      width: 642px;
      display: flex;
      justify-content: space-between;
    }
    &_info_video_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_info_video_nav {
      display: flex;
      align-items: center;
    }
    &_info_video {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      margin-right: 32px;
      background: #000;
      position: relative;
      transition: all 0.3s ease;
      &:hover {
        background: $main4;
        transition: all 0.3s ease;
      }
      &:after {
        content: "";
        display: block;
        background: url("../img/about/video-icon.svg")no-repeat center center/100% 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-12px, -50%);
      }
    }
    &_info_video_title {
      @include subtitle2;
    }
    &_gallery {
      width: 481px;
      display: flex;
      justify-content: space-between;
    }
    &_gallery_item {
      width: 203px;
    }
    &_gallery_item_image {
      margin: 0 auto 32px;
      height: 220px;
      position: relative;
      width: 170px;
      &:after {
        content: "";
        display: inline-block;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 2px solid $main4;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        height: auto;
        display: inline-block;
      }
    }
    &_gallery_item_title {
      font-family: "FuturaPT";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 125%;
      text-align: center;
      color: $black20;
    }
  }
}
.work-vector {
  margin-bottom: 72px;
  &__title {
    @include subtitle1;
    text-align: center;
    margin-bottom: 48px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 38px;
  }
  &__item {
    width: 251px;
    height: 251px;
    border-radius: 50%;
    position: relative;
  }
  &__item_blur {
    filter: blur(25px);
    position: absolute;
    width: 251px;
    height: 251px;
    border-radius: 50%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  &__item_cont {
    position: absolute;
    z-index: 2;
    width: 251px;
    height: 251px;
    border-radius: 50%;
    top: 0;
    left: 38px;
    background: rgba(255, 255, 255, 0.25);
    border: 2px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__item_title {
    @include h6;
    text-align: center;
    margin-bottom: 16px;
    max-width: 180px;
  }
  &__item_desc {
    @include body2;
    text-align: center;
    max-width: 180px;
  }
}
.blur-pink {
  border: 66px solid $pink10;
}
.blur-green {
  border: 66px solid $main2;
}
.blur-violet {
  border: 66px solid $violet10;
}
.blur-cobalt {
  border: 66px solid $cobalt10;
}
@include desktop {
  .about__desc_container {
    flex-direction: column;
  }
  .about__desc_info {
    width: 100%;
    margin-bottom: 64px;
  }
  .about__desc_gallery {
    width: 100%;
    justify-content: space-around;
  }
  .vertical__dots_list {
    transform: translate(-400%,-50%);
  }
  .work-vector__item, .work-vector__item_blur, .work-vector__item_cont {
    width: 199px;
    height: 199px;
  }
  .work-vector__item_cont {
    left: 19px;
  }
  .work-vector__list {
    padding-right: 19px;
  }
  .work-vector__item_title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 11px;
  }
}
@include laptop {
  .work-vector__item {
    margin: 0 auto 64px;
  }
}
@include phones {
  .about__desc_info_video_nav {
    margin-bottom: 32px;
  }
  .about__desc_info_video_wrap {
    flex-direction: column;
  }
  .about__desc_gallery {
    flex-direction: column;
    align-items: center;
  }
  .about__desc_gallery_item {
    margin-bottom: 64px;
  }
}

//Team

.team {
  &__vertical__dots_list {
    height: 230px;
    top: 50%;
    left: 0;
    transform: translate(600%, -50%);
    z-index: 2;
  }
  &_navbar {
    margin-left: auto;
  }
  &__title {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 829px;
    text-align: center;
  }
  &__swiper-container {
    position: relative;
    height: auto;
  }
  &__swiper-slide {
    height: auto;
    img {
      display: inline-block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__swiper-slide-video {
    width: 100%;
    height: auto;
  }
  &__swiper_bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white;
    margin-right: 6px;
    display: block;
    cursor: pointer;
  }
  &__swiper_bullet-active {
    width: 63px;
    border-radius: 8px;
  }
}
.container-fluid-navbar {
  position: absolute;
  padding-top: 64px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}
.container-fluid-arrow {
  position: absolute;
  bottom: 0;
  padding-bottom: 64px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}
.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -64px);
  z-index: 3;
}
@include desktop {
  .team__vertical__dots_list {
    transform: translate(400%, -50%);
  }
  .container-fluid-navbar {
    padding-top: 32px;
  }
  .container-fluid-arrow {
    padding-bottom: 32px;
  }
  .swiper-pagination {
    transform: translate(-50%,-40px);
  }
}
@include laptop {
  .team__title {
    width: 607px;
    font-size: 35px;
    line-height: 50px;
  }
}
@include tablet {
  .team__title {
    width: 80%;
    font-size: 28px;
    line-height: 43px;
  }
  .team__vertical__dots_list {
    height: 170px;
    transform: translate(200%,-50%);
  }
  .vertical__dotts_item {
    width: 6px;
    height: 6px;
  }
  .team__swiper_bullet {
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  .team__swiper_bullet-active {
    width: 50px;
  }
}
@include phones {
  .team__title {
    width: 80%;
    font-size: 15px;
    line-height: 25px;
  }
  .vertical__dotts_item {
    width: 4px;
    height: 4px;
  }
  .team__vertical__dots_list {
    height: 90px;
  }
  .container-fluid-navbar {
    padding-top: 16px;
  }
  .container-fluid-arrow {
    padding-bottom: 16px;
  }
  .swiper-pagination {
    transform: translate(-50%,-22px);
  }
}

//Cases

.cases {
  padding: 64px 0;
  background: $green10;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__head_btn {
    margin-right: 138px;
    &:hover {
      color: $white;
    }
  }
  &__desc {
    max-width: 642px;
    margin-bottom: 64px;
  }
  &__list {
    display: flex;
    max-width: 931px;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 32px;
  }
  &__item {
    width: 30%;
    height: auto;
    background: #39AC73;;
    position: relative;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover .cases__item_hover {
      transition: all 0.3s ease;
      opacity: 1;
    }
  }
  &__item_hover {
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
    &_btn {
      display: inline-block;
      text-transform: uppercase;
      background: $main5;
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        background: darken($main5, 10);
        transition: all 0.3s ease;
        color: $white;
      }
    }
  }
  &__item_title {
    @include h2;
    color: $white;
    position: absolute;
  }
  &__btn {
    background: #292929;
    color: $white;
    text-transform: uppercase;
    margin: 0 auto 191px;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      background: darken(#292929, 10);
      color: $white;
    }
  }
  //&__gradient {
  //  width: 100%;
  //  height: 50px;
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  z-index: 3;
  //  -webkit-box-shadow: 0px -50px 22px 5px rgba(153,55,183,1);
  //  -moz-box-shadow: 0px -50px 22px 5px rgba(153,55,183,1);
  //  box-shadow: 0px -50px 22px 5px rgba(153,55,183,1);
  //}
}
@include laptop {

}
@media screen and (max-width: 810px ) {
  .cases__item {
    width: 45%;
  }
  .cases__list {
    justify-content: space-around;
  }
}
@media screen and (max-width: 650px) {
  .cases__item_btn, .cases__btn {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .cases__item {
    width: 80%;
  }

}

//Development

.development {
  &__title {
    color: $white;
  }
  &__desc {
    @include subtitle2;
    color: $white;
    margin-bottom: 32px;
    max-width: 717px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__list {
    max-width: 717px;
    margin-right: 140px;
  }
  &__item {
    width: 100%;
    border: 1.5px solid #FFFFFF;
    padding: 32px;
    background: rgba(255, 255, 255, 0.35);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item_title {
    @include subtitle1;
    text-align: center;
    margin-bottom: 16px;
    color: $white;
    text-transform: uppercase;
  }
  &__item_desc {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    margin-bottom: 16px;
  }
  &__item_order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item_price {
    @include h2;
    color: $white;
  }
  &__item_btn {
   @include h6;
    background: $main5;
    text-transform: uppercase;
  }
}
.development__stage {
  &_wrap {
    position: absolute;
    width: 637px;
    height: 637px;
    top: 0;
    left: 100%;
    transform: translate(-61%, 0);
  }
  &_list {
    width: 637px;
    height: 637px;
    border-radius: 50%;
    border: 0.5px solid $white;
    position: relative;
  }
  &_title {
    position: absolute;
    top: -75px;
    left: 68px;
    p {
      @include h4;
      color: $white;
      text-transform: uppercase;
    }
    &-icon {
      width: 55px;
      height: 55px;
      margin: 10px auto 0;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: inline-block;
        text-align: center;
      }
    }
  }
  &_inner-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: $white;
    text-transform: uppercase;
    max-width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    z-index: 2;
  }
  &_inner {
    width: 601px;
    height: 601px;
    border-radius: 50%;
    background: linear-gradient(90deg, #2E3192 0%, #EE214F 98.96%);
    opacity: 0.55;
    filter: blur(75px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_item {
    display: flex;
    align-items: center;
    position: absolute;
    &-icon {
      margin-right: 32px;
      width: 30px;
      display: flex;
      align-items: right;
      img {
        display: inline-block;
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
    &-num {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #ffffff59;
      border: 1px solid $white;
      margin-right: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        @include h4;
        color: $white;
      }
    }
    &-text {
      @include h4;
      color: $white;
      text-transform: uppercase;
    }
    &-dev {
      top: 41px;
      left: 32px;
    }
    &-copy {
      top: 144px;
      left: -45px;
    }
    &-design {
      top: 240px;
      left: -85px;
    }
    &-structure {
      top: 340px;
      left: -85px;
    }
    &-smeta {
      top: 440px;
      left: -51px;
    }
    &-brief {
      top: 540px;
      left: 36px;
    }
  }
}

//Promotion

.promotion {
  padding: 64px 0;
  background: $green10;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__title {
    color: $white;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    max-width: 717px;
  }
  &__list_title {
    @include subtitle2;
    color: $white;
    margin-bottom: 32px;
  }
  &__item {
    width: 100%;
    border: 1.5px solid #FFFFFF;
    padding: 32px;
    background: rgba(255, 255, 255, 0.35);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item_title {
    @include subtitle1;
    text-align: center;
    margin-bottom: 16px;
    color: $white;
    text-transform: uppercase;
  }
  &__item_desc {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    margin-bottom: 16px;
  }
  &__item_order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item_price {
    @include h2;
    color: $white;
  }
  &__item_btn {
    @include h6;
    background: $main5;
    text-transform: uppercase;
  }
}
.promotion__stage {
  &_list {
    display: flex;
    flex-direction: column;
  }
  &_item {
    display: flex;
    align-items: center;
  }
  &_title {
    @include subtitle1;
    color: $white;
    max-width: 132px;
    text-align: right;
  }
  &_num_wrap {
    width: 100px;
    height: 100px;
    position: relative;
  }
  &_num_blur {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(220.2deg, #61BAD8 29.2%, rgba(158, 213, 231, 0) 102.35%);
    opacity: 0.8;
    filter: blur(25px);
    position: absolute;
    top: 0;
    left: 0;
  }
  &_num {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include h4;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}