
.footer {
  background: $black10;
  padding: 0 0 32px;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__blur {
    width: 587px;
    height: 310px;
    background: linear-gradient(90deg, #2E3192 0%, #EE214F 98.96%);
    opacity: 0.6;
    filter: blur(150px);
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translate(-100%, 0);
    overflow: hidden;
  }
}
.copyright, .developer {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: block;
  color: $white;
  width: fit-content;
  margin: 0 auto;
  &:hover {
    color: #427485;
    transition: all 0.3s ease;
  }
}
.copyright {
  margin: 0 auto 8px;
}
//Popup
.popup-feedback {
  width: 400px;
  padding: 32px;
  display: block;
  border: 1px solid #000;
  border-radius: 3px;
}
.form {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  &__title {
    @include h2;
    text-align: center;
    margin-bottom: 32px;
  }
  &__input {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px 0 5px 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
  }
  &__textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 16px 0 0 10px;
    margin: 0 0 32px;
  }
  &__btn {
    background: transparent;
    border: 2px solid #000;
    color: #000;
    transition: all 0.3s ease;
    &:hover {
      border: 2px solid lighten(#000, 20);
      color: lighten(#000, 20);
      transition: all 0.3s ease;
    }
  }
}
@include phones {
  .popup-feedback {
    width: 88%;
  }
}
.overlay__nav_arrow-footer {
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 64px;
  right: 32px;
  transform: translate(-50%, 0);
  z-index: 55555;
  cursor: pointer;
  img {
    max-width: 100%;
    display: inline-block;
    width: 10px;
    height: auto;
    transform: rotate(180deg);
  }
}
@include phones {
  .overlay__nav_arrow-footer {
    transform: translate(0,0);
    bottom: 16px;
    width: 35px;
    height: 35px;
  }
}