
.footer {
  background: $black10;
  padding: 0 0 32px;
  position: relative;
  >.container-fluid {
    position: relative;
    z-index: 5;
    height: 100%;
  }
  &__blur {
    width: 587px;
    height: 310px;
    background: linear-gradient(90deg, #2E3192 0%, #EE214F 98.96%);
    opacity: 0.6;
    filter: blur(150px);
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translate(-100%, 0);
    overflow: hidden;
  }
}
.copyright, .developer {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: block;
  color: $white;
  width: fit-content;
  margin: 0 auto;
  &:hover {
    background: #427485;
    transition: all 0.3s ease;
  }
}
.copyright {
  margin: 0 auto 8px;
}
