.main {
  position: relative;
  overflow: hidden;
}
.navBurger {
  display: none;
  position: fixed;
  right: 55px;
  top: 64px;
  cursor: pointer;
  background: $white;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 55555;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: $white;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
    //width: 90%;
  }
  &.active {
    background: transparent;
    background-clip: content-box;
  }
  &.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
  }
  &.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
  }
}

.overlay {
  position: fixed;
  background: #1a1a1a;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 55555;
  &.open {
    opacity: 0.9;
    visibility: visible;
    transform: scale(1);
    li {
      display: block;
      animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
      forwards;
      animation-delay: 0.4s;
      transform: rotate(-7deg);
      transform-origin: right bottom;
      &:nth-of-type(2) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.6s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.7s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.8s;
      }
    }
  }
}

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 55px;
  bottom: 50%;
  transform: translate(0, 50%);
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    li {
      display: block;
      position: relative;
      opacity: 0;
      width: 100%;
      a {
        display: inline-block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.09);
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        padding: 16px 32px;
        margin: 5px 0;
        transition: 0.2s;
        &:hover,
        &:active,
        &:focus {
          transform: translateX(-2px);
        }
      }
    }
  }
}

.locked {
  overflow: hidden;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
  }
}
@include phones {
  .navBurger {
    right: 32px;
    top: 32px;
  }
  .overlayMenu {
    right: 32px;
  }
  .overlayMenu ul li a {
    font-size: 20px;
  }
}
.overlay__nav {

  >.container-fluid {
    position: relative;
    height: 100vh;
  }
  &_navbar {
    width: 30px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 64px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
  &_dots_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(100%, -50%);
    z-index: 555555;
    li {
      a {
        position: relative;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $white;
        display: block;
        z-index: 2;
        transition: all 0.3s ease;
        cursor: pointer;
      }
      a.mPS2id-highlight {
         position: relative;
         width: 11px;
         height: 11px;
         border-radius: 50%;
         background: $white;
         display: block;
         z-index: 2;
         transition: all 0.3s ease;
         cursor: pointer;
         &:after {
           content: "";
           display: block;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           width: 25px;
           height: 25px;
           background: rgba(255, 255, 255, 0.35);
           border: 0.5px solid #FFFFFF;
           border-radius: 50%;
           box-sizing: border-box;
           z-index: 1;
           transition: all 0.3s ease;
         }
       }
    }
  }
  //&_arrow-up {
  //  width: 45px;
  //  height: 45px;
  //  background: rgba(255, 255, 255, 0.25);
  //  border: 1px solid #FFFFFF;
  //  border-radius: 50%;
  //  position: fixed;
  //  margin-left: auto;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  bottom: 64px;
  //  right: 0;
  //  transform: translate(-100%, 0);
  //  z-index: 55555;
  //  img {
  //    transform: rotate(180deg);
  //    max-width: 100%;
  //    display: none;
  //    width: 10px;
  //    height: auto;
  //  }
  //}
  &_arrow {
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 64px;
    right: 32px;
    transform: translate(-50%, 0);
    z-index: 55555;
    cursor: pointer;
    img {
      max-width: 100%;
      display: inline-block;
      width: 10px;
      height: auto;
    }
  }
}

.HYPE_element_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.HYPE_element {
  pointer-events: auto;
  position: absolute;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.header {
  position: relative;
  padding-bottom: 64px;
  >.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 3;
  }
  &__logo {
    margin-right: 45px;
    width: 200px;
    display: block;
    img {
      display: inline-block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}
.offer__wrap {
  display: flex;
  margin-bottom: 45px;
  z-index: 2;
  justify-content: space-between;
}
.offer__text {
  width: 575px;
  &_list {
    position: relative;
    width: 100%;
    margin: 64px 0;
    padding: 32px 0 1px 32px;
  }
  &_item {
    margin-bottom: 10px;
    p {
      @include h3;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
}
.offer__price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  p {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 126px;
  }
}
.corner {
  position: absolute;
  width: 95px;
  height: 47px;
  &__up {
    left: 0;
    top: 0;
    background: url("../img/header/corner-up.svg") no-repeat center center/cover;
  }
  &__bottom {
    right: 0;
    bottom: 0;
    background: url("../img/header/corner-bottom.svg") no-repeat center center/cover;
  }
}
.rectangle {
  width: 236px;
  //height: 61px;
  img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  &__bottom {
    margin-left: auto;
  }
}
.btn__offer {
  background: $pinkMain;
  display: inline-block;
  margin-left: 128px;
  margin-top: 64px;
  text-transform: uppercase;
  max-width: 408px;
  transition: all .3s ease;
  &:hover {
    background: darken($pinkMain, 10);
    transition: all .3s ease;
  }
}
@media screen and (max-width: 1320px ) {
  .main-nav {
    padding: 53px 15px 0;
  }
  .offer__wrap {
    padding: 0 15px;
  }
}
@include desktop {
  .offer__price p {
    font-size: 82px;
  }
}
@include laptop {
  .offer__text {
    margin: 0 auto;
    width: auto;
  }
  .btn__offer {
    margin: 0 auto;
  }
  .rectangle {
    width: 120px;
  }
  .offer__text_list {
    width: 90%;
  }
  .offer__price p {
    font-size: 64px;
  }
  .offer__text_item p {
    font-size: 22px;
  }
}
@include tablet {
  .offer__wrap {
    flex-direction: column;
    align-items: center;
  }
  .rectangle {
    width: 80px;
  }
  .offer__text_list {
    width: 100%;
  }
  .offer__price p {
    line-height: 76px;
  }
  .btn__offer {
    font-size: 20px;
  }
  .arrow__down {
    width: 35px;
    height: 35px;
  }
  .overlay__nav_arrow {
    transform: translate(0,0);
    bottom: 16px;
    width: 35px;
    height: 35px;
  }
}
@include phones {
  .offer__text_list {
    position: relative;
    width: 100%;
    margin: 16px 0;
    padding: 16px 16px 1px 16px;
  }
  .offer__text_item p {
    font-size: 18px;
    line-height: 36px;
  }
  .offer__price p {
    font-size: 44px;
    line-height: 76px;
  }
  .btn__offer {
    font-size: 14px;
  }
  .arrow__down {
    width: 30px;
    height: 30px;
  }

}

//Smart Menu
.main-nav {
  background: transparent;
  padding-top: 53px;
  margin-bottom: 100px;
  z-index: 3;
}
.sm-simple>li>a {
  padding: 18px 0;
  margin: 0 7px;
  position: relative;
  transition: all 0.3s ease;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background: $main5;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  &:hover:after {
    opacity: 1;
    transition: all 0.3s ease;

  }
}
.sm-simple>li>a:last-child {
}
.sm-simple a {
  @include body2;
  color: $blackMain;
  text-transform: uppercase;
  font-weight: 500;
}
.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

.nav-brand {
  float: left;
  margin: 0;
}

.nav-brand a {
  display: block;
  padding: 11px 11px 11px 20px;
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}

#main-menu {
  clear: both;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 1120px) {
  #main-menu {
    float: right;
    clear: none;
  }
}


/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 5px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #000;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 1120px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}




