$font-family: "OpenSans";

//Colpr
$white: #ffffff;

$main2: #66CC99;
$main4: #EE214F;
$main5: #EE214F;

$blackMain: #000000;
$black20: #333333;

$blueMain: #61BAD8;
$blue10: #8ACCE2;

$pinkMain: #EE214F;
$pink10: #F25075;

$cobalt10: #3A3EB9;

$violet10: #9937B7;

$green10: #8CD9B3;